@font-face {
    font-family: 'Kommon Grotesk';
    src: url('https://image.eternaleditions.io/fonts/KommonGrotesk-MediumIt.eot');
    src: local('Kommon Grotesk Medium Italic'), local('KommonGrotesk-MediumIt'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-MediumIt.eot?#iefix') format('embedded-opentype'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-MediumIt.woff2') format('woff2'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-MediumIt.woff') format('woff'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-MediumIt.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Kommon Grotesk Normal';
    src: url('https://image.eternaleditions.io/fonts/KommonGrotesk-NormalIt.eot');
    src: local('Kommon Grotesk Normal Italic'), local('KommonGrotesk-NormalIt'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-NormalIt.eot?#iefix') format('embedded-opentype'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-NormalIt.woff2') format('woff2'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-NormalIt.woff') format('woff'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-NormalIt.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Kommon Grotesk';
    src: url('https://image.eternaleditions.io/fonts/KommonGrotesk-SemiBoldIt.eot');
    src: local('Kommon Grotesk SemiBold Italic'), local('KommonGrotesk-SemiBoldIt'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-SemiBoldIt.eot?#iefix') format('embedded-opentype'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-SemiBoldIt.woff2') format('woff2'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-SemiBoldIt.woff') format('woff'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-SemiBoldIt.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Kommon Grotesk Normal';
    src: url('https://image.eternaleditions.io/fonts/KommonGrotesk-Normal.eot');
    src: local('Kommon Grotesk Normal'), local('KommonGrotesk-Normal'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-Normal.eot?#iefix') format('embedded-opentype'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-Normal.woff2') format('woff2'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-Normal.woff') format('woff'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-Normal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kommon Grotesk';
    src: url('https://image.eternaleditions.io/fonts/KommonGrotesk-Light.eot');
    src: local('Kommon Grotesk Light'), local('KommonGrotesk-Light'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-Light.eot?#iefix') format('embedded-opentype'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-Light.woff2') format('woff2'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-Light.woff') format('woff'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Kommon Grotesk';
    src: url('https://image.eternaleditions.io/fonts/KommonGrotesk-BlackIt.eot');
    src: local('Kommon Grotesk Black Italic'), local('KommonGrotesk-BlackIt'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-BlackIt.eot?#iefix') format('embedded-opentype'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-BlackIt.woff2') format('woff2'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-BlackIt.woff') format('woff'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-BlackIt.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Kommon Grotesk';
    src: url('https://image.eternaleditions.io/fonts/KommonGrotesk-HeavyIt.eot');
    src: local('Kommon Grotesk Heavy Italic'), local('KommonGrotesk-HeavyIt'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-HeavyIt.eot?#iefix') format('embedded-opentype'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-HeavyIt.woff2') format('woff2'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-HeavyIt.woff') format('woff'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-HeavyIt.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Kommon Grotesk';
    src: url('https://image.eternaleditions.io/fonts/KommonGrotesk-Black.eot');
    src: local('Kommon Grotesk Black'), local('KommonGrotesk-Black'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-Black.eot?#iefix') format('embedded-opentype'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-Black.woff2') format('woff2'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-Black.woff') format('woff'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Kommon Grotesk';
    src: url('https://image.eternaleditions.io/fonts/KommonGrotesk-SemiBold.eot');
    src: local('Kommon Grotesk SemiBold'), local('KommonGrotesk-SemiBold'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-SemiBold.woff2') format('woff2'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-SemiBold.woff') format('woff'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Kommon Grotesk';
    src: url('https://image.eternaleditions.io/fonts/KommonGrotesk-RegularIt.eot');
    src: local('Kommon Grotesk Regular Italic'), local('KommonGrotesk-RegularIt'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-RegularIt.eot?#iefix') format('embedded-opentype'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-RegularIt.woff2') format('woff2'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-RegularIt.woff') format('woff'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-RegularIt.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Kommon Grotesk Super';
    src: url('https://image.eternaleditions.io/fonts/KommonGrotesk-SuperIt.eot');
    src: local('Kommon Grotesk Super Italic'), local('KommonGrotesk-SuperIt'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-SuperIt.eot?#iefix') format('embedded-opentype'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-SuperIt.woff2') format('woff2'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-SuperIt.woff') format('woff'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-SuperIt.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Kommon Grotesk';
    src: url('https://image.eternaleditions.io/fonts/KommonGrotesk-ExtraBoldIt.eot');
    src: local('Kommon Grotesk ExtraBold Italic'), local('KommonGrotesk-ExtraBoldIt'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-ExtraBoldIt.eot?#iefix') format('embedded-opentype'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-ExtraBoldIt.woff2') format('woff2'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-ExtraBoldIt.woff') format('woff'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-ExtraBoldIt.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Kommon Grotesk';
    src: url('https://image.eternaleditions.io/fonts/KommonGrotesk-BoldIt.eot');
    src: local('Kommon Grotesk Bold Italic'), local('KommonGrotesk-BoldIt'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-BoldIt.eot?#iefix') format('embedded-opentype'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-BoldIt.woff2') format('woff2'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-BoldIt.woff') format('woff'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-BoldIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Kommon Grotesk';
    src: url('https://image.eternaleditions.io/fonts/KommonGrotesk-Thin.eot');
    src: local('Kommon Grotesk Thin'), local('KommonGrotesk-Thin'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-Thin.eot?#iefix') format('embedded-opentype'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-Thin.woff2') format('woff2'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-Thin.woff') format('woff'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Kommon Grotesk';
    src: url('https://image.eternaleditions.io/fonts/KommonGrotesk-ExtraLightIt.eot');
    src: local('Kommon Grotesk ExtraLight Italic'), local('KommonGrotesk-ExtraLightIt'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-ExtraLightIt.eot?#iefix') format('embedded-opentype'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-ExtraLightIt.woff2') format('woff2'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-ExtraLightIt.woff') format('woff'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-ExtraLightIt.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Kommon Grotesk';
    src: url('https://image.eternaleditions.io/fonts/KommonGrotesk-ExtraLight.eot');
    src: local('Kommon Grotesk ExtraLight'), local('KommonGrotesk-ExtraLight'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-ExtraLight.woff2') format('woff2'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-ExtraLight.woff') format('woff'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Kommon Grotesk';
    src: url('https://image.eternaleditions.io/fonts/KommonGrotesk-Regular.eot');
    src: local('Kommon Grotesk Regular'), local('KommonGrotesk-Regular'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-Regular.eot?#iefix') format('embedded-opentype'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-Regular.woff2') format('woff2'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-Regular.woff') format('woff'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kommon Grotesk';
    src: url('https://image.eternaleditions.io/fonts/KommonGrotesk-UltraBoldIt.eot');
    src: local('Kommon Grotesk UltraBold Italic'), local('KommonGrotesk-UltraBoldIt'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-UltraBoldIt.eot?#iefix') format('embedded-opentype'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-UltraBoldIt.woff2') format('woff2'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-UltraBoldIt.woff') format('woff'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-UltraBoldIt.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Kommon Grotesk';
    src: url('https://image.eternaleditions.io/fonts/KommonGrotesk-Medium.eot');
    src: local('Kommon Grotesk Medium'), local('KommonGrotesk-Medium'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-Medium.eot?#iefix') format('embedded-opentype'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-Medium.woff2') format('woff2'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-Medium.woff') format('woff'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Kommon Grotesk';
    src: url('https://image.eternaleditions.io/fonts/KommonGrotesk-ThinIt.eot');
    src: local('Kommon Grotesk Thin Italic'), local('KommonGrotesk-ThinIt'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-ThinIt.eot?#iefix') format('embedded-opentype'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-ThinIt.woff2') format('woff2'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-ThinIt.woff') format('woff'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-ThinIt.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Kommon Grotesk';
    src: url('https://image.eternaleditions.io/fonts/KommonGrotesk-UltraBold.eot');
    src: local('Kommon Grotesk UltraBold'), local('KommonGrotesk-UltraBold'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-UltraBold.eot?#iefix') format('embedded-opentype'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-UltraBold.woff2') format('woff2'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-UltraBold.woff') format('woff'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-UltraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Kommon Grotesk';
    src: url('https://image.eternaleditions.io/fonts/KommonGrotesk-LightIt.eot');
    src: local('Kommon Grotesk Light Italic'), local('KommonGrotesk-LightIt'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-LightIt.eot?#iefix') format('embedded-opentype'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-LightIt.woff2') format('woff2'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-LightIt.woff') format('woff'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-LightIt.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Kommon Grotesk Super';
    src: url('https://image.eternaleditions.io/fonts/KommonGrotesk-Super.eot');
    src: local('Kommon Grotesk Super'), local('KommonGrotesk-Super'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-Super.eot?#iefix') format('embedded-opentype'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-Super.woff2') format('woff2'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-Super.woff') format('woff'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-Super.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kommon Grotesk';
    src: url('https://image.eternaleditions.io/fonts/KommonGrotesk-Bold.eot');
    src: local('Kommon Grotesk Bold'), local('KommonGrotesk-Bold'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-Bold.eot?#iefix') format('embedded-opentype'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-Bold.woff2') format('woff2'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-Bold.woff') format('woff'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Kommon Grotesk';
    src: url('https://image.eternaleditions.io/fonts/KommonGrotesk-Heavy.eot');
    src: local('Kommon Grotesk Heavy'), local('KommonGrotesk-Heavy'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-Heavy.eot?#iefix') format('embedded-opentype'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-Heavy.woff2') format('woff2'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-Heavy.woff') format('woff'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Kommon Grotesk';
    src: url('https://image.eternaleditions.io/fonts/KommonGrotesk-ExtraBold.eot');
    src: local('Kommon Grotesk ExtraBold'), local('KommonGrotesk-ExtraBold'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-ExtraBold.woff2') format('woff2'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-ExtraBold.woff') format('woff'),
    url('https://image.eternaleditions.io/fonts/KommonGrotesk-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
